[2011-12-20 16:45] trenkert opened #1 "Ideas"
First of all: great idea and ambitious project! Orgmode seems to be the right framework for doing something like this.

I don't have time to test it right now but I wanted to draw your attention towards some other project where you might be able to use code from:
- You might be aware of the Zeitgeist project which powers the Gnome Activity Journal. It stores the time-related data and has an emacs

[2011-12-21 21:44] #1 closed, assigned to novoid

[2012-07-08 20:58] Neil-Smithline opened #2 "Installation Instructions Needed"
Some install instructions would be helpful....

[2012-07-12 09:43] #2 closed, assigned to novoid

[2012-09-06 04:32] fullofcaffeine opened #4 "Multiple IMAP emails accounts for memacs_imap?"
Is it possible to setup multiple email account? I have 3 accounts that I use extensively.

Thanks for Memacs, btw, awesome so far :)

Marcelo.

[2012-09-06 04:38] #4 closed, assigned to nobody

[2012-09-06 05:44] fullofcaffeine opened #5 "--fetch-number for memacs-git"
Hi!

Do you plan to add --fetch-number to the git memacs? I have a repo with several thousands commits, and that makes org's agenda hang.

I'd say --fetch-number should be supported by all memacs modules.

Cheers!

Marcelo.

[2012-09-06 20:35] #5 closed

[2013-03-07 23:40] ajft opened #6 "filenametimestamps for YYYY-MM-DD_blah files"
I've just started using memacs in a  limited capacity, I have a large number of log files generated from other sources whose names are of the form YYYY-MM-DD_hostname.log  eg "2013-03-08_zurich_data.log"

I would expect (and prefer) that an org-mode entry for them would be:
* <2013-03-08 Fri> 2013-03-08_zurich_data.log
instead I get entries of the form:
* <2013-03-08 Fri 09:00:01> 2013-03-08_zuric

[2013-03-08 10:29] #6 closed, assigned to nobody

[2013-04-13 10:57] totherme opened #7 "IMAP to local dovecot"
Hi folks,

I'm curious about memacs, and just setting up - so I hope this isn't a stupid question. I have a local dovecot/maildir setup similar to the one described here: http://roland.entierement.nu/blog/2010/09/08/gnus-dovecot-offlineimap-search-a-howto.html

The key point is that in emacs I access that server like this:

(setq gnus-select-method '(nnimap "Mail"

[2013-04-15 09:19] #7 closed, assigned to novoid

[2013-04-15 18:52] brabalan opened #8 "ImportError: cannot import name Memacs"
I just installed memacs using pip (after installing python with homebrew on OS X). I added the folder to PYTHONPATH (which was empty), but when I launch I get a strange error:

[code]

Is this circular dependency normal?

[2013-04-16 11:49] #8 closed, assigned to novoid

[2013-04-16 12:50] brabalan opened #9 "memacs still at 0.0.18 after upgrading"
Hello,

This may simply just be an issue with pip, but if I do `pip list`, I get `memacs 0.0.18`. If I do a `pip install memacs --upgrade` it tells me it's downloading 0.1, finding the old version of memacs, and installing the new one. However after the installation, `pip list` still reports `0.0.18`.

I tried running the install with the `-v` option, and the only warning I see is `warning: manife

[2013-04-16 13:40] #9 closed, assigned to novoid

[2013-04-24 07:02] alexpos opened #10 "memacs_cal.py - No module named dateutil.tz"
After installing memacs using virtualenv on OSX I get the following error:

Solution:

Within the virtualenv:

[code]

[2013-04-26 17:14] #10 closed, assigned to nobody

[2013-10-23 10:36] novoid opened #14 "orgwriter: cannot concatenate 'str' and 'NoneType' objects"
(At least) in module EXIF and IMAP:

[code]

Or:

[code]

[2013-10-23 11:08] #14 closed, assigned to nobody

[2014-04-20 21:18] Wilfred opened #15 "Don't depend on PIL"
Trying to install memacs gives:

[code]

I can work around this with `pip install memacs --allow-external PIL --allow-unverified PIL` but could you move to pillow instead? https://github.com/python-imaging/Pillow It's actively maintained and a drop-in replacement for PIL.

[2014-05-03 15:58] #15 closed, assigned to nobody

[2015-03-02 12:50] thaaophz opened #20 "memacs-imap and german umlauts are not working"
Hi,

last weekend I have installed memacs-imap and it works fine for mails
without umlauts. If a mail includes umlauts something goes wrong.

I set up memacs imap last weekend and it works fine for mails with no umlauts.
But if a mail includes umlauts something goes wrong.

For example an email with the Subject _"test ä ö ü ß"_ will be convertet to
_"test =?utf-8?B?w6Qgw7Ygw7wgw58=?="_.

I'm using

[2015-03-03 16:13] novoid commented on #20
Unfortunately, I don't use memacs with IMAP nor offlineimap nor mu4e.

Are you able to trace the issue further down and confirm if this is a memacs or an offlineimap issue?

[2015-03-04 13:08] mattttthias commented on #20
I think the problem is that IMAP uses UTF-7 and not UTF-8.

I found a similar  issue and a solution [here] (http://stackoverflow.com/questions/12903893/python-imap-utf-8q-in-subject-string) :
[code]

While this works also for "correct" strings:
[code]
Maybe it is possible to decode every Subject and "From Name" so in the memacs script.

Sadly I dont't know which script I have to change.

[2015-03-04 13:44] novoid commented on #20
In my opinion, the relevant lines are all within "memacs/memacs/lib/mailparser.py":

[code]
and
[code]

You might want to add your decode statements, test them, and write back if it was successful. This would be great!

[2015-03-07 13:10] mattttthias commented on #20
Till now it's not working.
But I'll keep working on it.

[2015-06-21 13:54] llcc opened #22 "How does it work in windows?"
I would like to give a fresh start on memacs.
But after i installed it, i have no idea how to use it.
I do not know how to configure it and execute it, and how to get the archive files.
Can you give me a little bit hint?

[2015-06-22 07:50] novoid commented on #22
Hi!
I'm afraid that some parts of Memacs might not run only on Windows systems. Please report back if you find issues.

The basic principle with starting is: decide which Memacs-module you need and read its help page "bin/memacs-foobar --help". Then you manually design its command line parameters so that you get the desired Org-mode file result. If this is working, you can automate its invocation.

[2015-06-22 07:50] #22 closed

[2015-12-15 11:36] ajft opened #24 "memacs_ical handling of events with no DTEND"
I've just started using memacs_ical to parse my google calendar and found it was crashing on one entry.  Investigation found that the offending event has a DTSTART but no DTEND.
BEGIN:VEVENT
DTSTART:20110822T231000Z
DTSTAMP:20151215T013238Z
UID:02082011132826501XMTDNW
CREATED:20110208T033417Z
DESCRIPTION:...
LAST-MODIFIED:20110316T051852Z
LOCATION:
SEQUENCE:0
STATUS:CONFIRMED
SUMMARY:...
TRANSP:OP

[2016-01-21 08:31] novoid commented on #24
I'll fix this issue. Thanks for reporting!

[2016-01-23 17:11] novoid commented on #24
For ical events with no end date/time, I define the end of time with 9999-12-31.

Fixed with 53a6107 - thanks for reporting!

[2016-01-23 17:11] #24 closed

[2016-09-24 06:00] manu09 commented on #20
@novoid What do you use to track your mails into orgmode then? Is there any other way?

[2016-09-24 08:21] novoid commented on #20
@manu09 Currently, I don't have any connection between my email setup and Orgmode.

[2017-02-03 14:30] mankoell opened #27 "use PEP 394 compliant shebang"
I'm using Arch linux and the default `python` command refers to version **3.x**, which is not compatible with memacs. It wouldn't be python if there isn't already [a PEP standard](https://www.python.org/dev/peps/pep-0394/#abstract) for.

So would you mind changing it to `python2`?

[2017-02-12 16:43] novoid commented on #27
Thanks for reporting this bug. Fixed with the latest commit.

[2017-02-12 16:43] #27 closed

[2017-02-23 11:53] #20 closed

[2017-03-24 01:12] balaramadurai opened #37 "importError: No module named datetime"
Hello,
  I totally love the idea of memacs and I have been using it actively for a few months now. Recently, I upgraded to Ubuntu 16.04LTS and then trouble started with the cronjobs.

Here is the error I get:
[code]

Thanks

[2017-03-27 14:48] novoid commented on #37
Hello balaramadurai!

This is not an issue with Memacs. When you start "python" and type "import datetime" you'll most likely get the same error (without Memacs at all).

This looks like you've got an issue with your Python 2.x installation.

This page might give you some hints on this:
http://askubuntu.com/questions/509283/python-no-module-named-datetime

[2017-03-27 14:48] #37 closed

[2017-09-29 23:20] bdillahu opened #41 "Shortened ISO 8601 dates not recognized"
I'm new here, so please forgive if I'm missing the obvious :-)

I have a variety of files with "shortend" ISO 8601 dates... either just the year, or the year and month - not all files apply to an exact date in my world.

For example:

2017_Alaska_Cruise.org

(the cruise spanned across a month change, so unless I put a range, even a month doesn't fit)

Maybe I'm being too literal with the ISO 8601

[2017-09-30 09:02] novoid commented on #41
Hi bdillahu,

Excellent request.

For your Alaska Cruise issue - for which I envy you - I personally would add the date period to the file.

Memacs was not built to index YYYY mostly because something like `1234 foo.bar` (or any four digit number prefix) would be interpreted as year. Most of the time, this did not make any sense at my side for practical reasons.

The ISO standard is fine but it is

[2017-09-30 09:02] #41 closed

[2017-12-24 09:51] schvabodka-man opened #42 "Update memacs package in pypi or update installation instructions"
Hello. The package in pypi is very old(2014) and don't have mumacs_mumail module. Ae there any plans on updating it? Or just update installation instructions, i'm getting
[code]
I'm not very savvy with python and idk how to install this dependency by hands.

[2017-12-26 10:23] novoid commented on #42
Thanks for the reminder that Memacs/pip was *very* old. I just uploaded the current state as new pip package for you.

You can search for external dependencies using `pip search <keyword>` and install them using `pip install <packagename>`.

However, MuMail is no external dependency, it is implemented within memacs. It looks to me that you've got an issue with your Python path.

For testing purpos

[2017-12-26 10:23] #42 closed

[2017-12-28 14:31] schvabodka-man opened #43 "mumail: ValueError: time data does not match format"
Helo. When running memacs-mumail, i'm getting

ValueError: time data 'Thu 08 Dec 2016 02:33:56 AM EET' does not match format '%c'

and this traceback:

[code]

It's somehow releated to timestamp format(and how can i change it for memacs) or just a bug?

[2017-12-29 11:31] novoid commented on #43
Hi, I am the maintainer of Memacs.

The mumail module was not implemented by me and I am not using mumail or this Memacs module. Please write memacs-mumail@m.stennes.org as stated in https://github.com/novoid/Memacs/blob/master/docs/memacs_mumail.org so that he is able to help you with this issue. I'll close the issue when it is solved.

Thanks!

[2018-04-28 11:44] ajft opened #45 "memacs_lastfm fails, other modules work"
Karl, I've been using memacs for a few years, and a month ago included memacs_lastfm to get my music listings.  It was working for a few weeks, but following a system upgrade from ubuntu 17.10 to 18.04 the lastfm module has stopped working.  All the other memacs modules that I use still work, but memacs_lastfm crashes with:

Traceback (most recent call last):
     File "/home/ajft/src/memacs/memac

[2018-04-28 22:54] novoid commented on #45
Hi ajft,

This looks like the pylast lib has changed in an incompatible way.

However, I don't use lastfm. The module was written by @glumanda99 who might be able to help here.

Thanks for reporting!

[2018-04-29 04:29] ajft commented on #45
I'm not sure if what I did has just fixed it as a side effect, or if something else changed while I was poking about, but.

Hunting around I found that there was a version of memacs-0.4 in /usr/local/lib/python2.7, in addition to the current version elsewhere.  After I deleted the old version the script now runs.

thanks for your time, and many thanks for hte work on memacs

[2018-04-29 10:48] novoid commented on #45
Thanks for the report and glad, that it's working now.

Greetings from Graz!

[2018-04-29 10:48] #45 closed

[2018-05-01 03:06] squarepegsys opened #46 "org-link-abbrev-alist example not working as expected"
Maybe my org/emacs magic isn't as strong as yours. Or maybe it's my OSX

I used your example:
[code]

And then when I clicked on my test link, I got Finder (the OSX file browser) popped up in that folder and I still had to find the file.

I change it to this:
[code]

And that worked fine

[2018-07-06 20:32] ewa opened #47 "tagstore.org seems broken"
The front page (readme) contains a link to  tagstore.org, but that webpage seems to be something else entirely.  Maybe it's been cybersquatted?

[2018-07-07 08:10] novoid commented on #47
Thanks for reminding me where I missed an update - the web page has moved to http://karl-voit.at/tagstore/

[2018-07-07 08:10] #47 closed

[2018-07-14 15:48] kidd opened #48 "how do you deal with HUGE data?"
Hey,
The idea of Memacs is just beautiful. It's been on my TODO list for some time now and decided to give it a go.

As an addition to the modules there, I created one to fetch visited urls from firefox history.  The problem is that over the last 6 months, I have more than 52k urls listed in ff's sqlite database, and although it's ok to export them to a 25Mb org file using memacs_cvs, emacs strugg

[2018-07-14 19:49] alphapapa commented on #48
That's an interesting idea.  It's not exactly related to this, but I have a prototype Org indexer package for Emacs that indexes Org entries into a SQLite database, based on John Kitchin's work he published on his blog.  If you'd find it helpful in some way, let me know and I'll post it.

[2018-07-14 20:03] JayDugger commented on #48
Yes, please post this prototype Org indexer package.

On Sat, Jul 14, 2018 at 2:49 PM, alphapapa <notifications@github.com> wrote:

--
Jay Dugger
(314) 766-4426

[2018-07-14 20:12] alphapapa commented on #48
@JayDugger You can see the code here: https://github.com/alphapapa/helm-org-rifle/tree/org-rifle/sandbox  It's very messy, pre-prototype code, but maybe you can get something out of it.  It does work, but it's not organized to work as a package with user-facing commands, so you have to eval the code manually.

[2018-07-14 20:15] alphapapa commented on #48
P.S. I guess the place to start is here, which appears to be approximately where I left off: https://github.com/alphapapa/helm-org-rifle/blob/org-rifle/sandbox/org-rifle-indexer1.el

[2018-07-14 20:35] JayDugger commented on #48
Thank you.

On Sat, Jul 14, 2018 at 3:15 PM, alphapapa <notifications@github.com> wrote:

--
Jay Dugger
(314) 766-4426

[2018-07-17 12:02] novoid commented on #48
Hi @kidd,

Well, my answer won't make you happy I guess.

My memacs agenda *is* slow.

Stats on my memacs files alone:
[code]

... where those task headings within memacs files are part of archived very old files and not related to my daily workflows any more.

Read about (early) performance measurements and optimizations: https://github.com/novoid/Memacs/blob/master/docs/performance.org

Probably

[2018-07-17 12:02] #48 closed

[2018-07-21 13:52] novoid opened #51 "Firefox history: add append mode"
Somebody might volunteer for coding the append mode, where output is written to a file (instead of stdout as it is now) and new entries are compared with existing ones.

In append mode, only non-existing entries are appended. This is helpful when Firefox SQLite DB is a sliding window and Memacs output file should cover the whole story.

[2018-07-21 13:54] novoid opened #52 "Migrate Memacs to Python 3"
This is not complicated due to `2to3` which does most of the work.

However, many files have to be changed and many tests to be run.

[2018-07-21 14:00] novoid opened #53 "Refactor mbox module"
Currently, https://github.com/novoid/Memacs/tree/master/tmp/emails/mbox/works-for-me-hack is a quick hack that does not use the usual Memacs framework methods.

I still think that the module is relevant for many use-cases (emails, usenet postings, ...).

[2018-07-21 19:48] novoid opened #54 "Memacs module for Toots (Mastodon)"
There should be a module that gets Mastodon Toots into Memacs: https://en.wikipedia.org/wiki/Mastodon_(software)

There are multiple possibilities:

- Probably most clean one: https://github.com/tootsuite/mastodon/pull/6460
- https://github.com/tootsuite/mastodon/issues/177
- https://github.com/tootsuite/mastodon/issues/454
- https://github.com/tootsuite/mastodon/issues/4272

[2018-07-21 19:50] novoid opened #55 "Write bridge to plaso"
https://github.com/log2timeline/plaso/wiki

Maybe some people would like to move data between Memacs and plaso?

[2018-07-21 19:52] novoid opened #56 "Develop a VLC/mplayer wrapper script that gets video file metadata to Memacs"
I'd like to have a script that is a wrapper to VLC media player (or mplayer) which logs the names of the video files and the start+end time-stamp of playback to Memacs.

A proof of concept trial did turn out more complicated than it seems. I had difficulties wrapping vlc on Debian GNU/Linux.

[2018-07-21 19:53] novoid opened #57 "KODI/RaspberryPi video module"
I'd like to have a tool for KODI/RaspberryPi which logs the names of the video files and the start+end time-stamp of playback to Memacs.

[2018-07-23 20:27] bdillahu opened #58 "Invalid year in filename - Traceback"
I have a photograph that had incorrect exif data... so when it got renamed (via exiftool), it got an improbably year:

1899-12-30T00.00.00_P1000286.jpg_original

Now, I know the obvious is to fix the file, and I will, but I wanted to point out that it does cause an error and kills memacs_filenametimestamps.py.

Traceback below... My suggestion would be to just skip a file like that (as you do file

[2018-07-27 15:22] novoid commented on #58
Did I understand you correctly: an exception is thrown and the file still gets renamed with a wrong date-stamp?

IMO, catching the exception and writing a human-readable error message to stdout without renaming would be my choice.

[2018-07-27 15:40] bdillahu commented on #58
Sorry, I wasn't clear... the rename was a prior job using an exiftool based script that renamed the file based on EXIF data - given the data was bad, the file was renamed with an "out of range" date (1899).

I wasn't using memacs code to do the rename, just running the index job, which dies when it hits the early date.

Ideally (to me) any valid calendar date would work, but I haven't delved into

[2018-07-29 07:19] novoid commented on #58
Excuse _me_ - I obviously mixed up two of my projects https://github.com/novoid/date2name (for renaming) and this Memacs module 🤦

I'll add exception handling as suggested.

[2018-08-02 10:43] DerBeutlin opened #60 "Failing Unittests"
I would like to help on porting memacs to python 3 #52 but first it would be nice to have passing unittests.
I tried to fix the obvious ones #59 but for some my knowledge of the system is not sufficient.

1) The GPX-Tests: For me the adress obtained differs from the expected one
[code]
If the gps data has changed this should be an easy fix.

2) in `memacs.tests.example_test.TestFoo` and  `memacs.t

[2018-08-03 16:48] novoid commented on #60
Absolutely brilliant idea to go on with the test/migration tasks.
I'm going to help you - of course. However, I am out of town this weekend and then I'm pretty busy until August 20 or so. Therefore, I unfortunately can't help you until then :-(
I'll schedule the task so that I certainly don't forget it.

[2018-08-25 13:12] novoid commented on #60
All mentioned unit tests are fixed on my machine. Please check it yourself and then let's close this issue.

[2018-08-26 16:04] DerBeutlin commented on #60
Great thanks,

Unfortunately there is still one test failing on my machine:
[code]

Not sure if I overlooked it last time

[2018-08-26 19:43] novoid commented on #60
Dear @DerBeutlin,
I did not start all unit tests myself. Sorry.
I fixed the `svn_test.py`.
Probably I should write a script that starts all unit tests at once...

[2018-08-27 06:10] #60 closed

[2018-08-27 17:11] DerBeutlin commented on #52
I started working on this issue [here](https://github.com/DerBeutlin/Memacs/tree/port_to_python3) but I have a question:
- One crucial difference between python2 and python3 is the order iteratively added items are stored in dictionaries. This results in many unittests failing because the order of the properties is wrong. Originally I wanted to keep the order as stated in the unittests but this is

[2018-08-28 08:01] novoid commented on #52
Bummer.
I was not aware of that. My other projects I migrated did not use that dependency.
IMO: the order of the properties does not have any information contained implicitly. So if the IDs have to be changed once and then the Python 3 compatibility is done, I think we're fine.

The only downside is that re-processing old data with the Python 3 Memacs modules result in different IDs which may caus

[2018-08-28 13:39] DerBeutlin commented on #52
If I'm not mistaken the order in the dictionary is random but reproducible in python2, differently random and also reproducible in python3.1-python3.5 and starting with python3.6 it stays in the order it was inserted (so reproducible and not random).
IMO opinion there are two options:
1) don't enforce any particular order of the properties, test only for existence, then everybody using memacs with

[2018-08-28 13:48] nico202 commented on #52
What about https://docs.python.org/3/library/collections.html#collections.OrderedDict ?

[2018-08-28 14:53] DerBeutlin commented on #52
@nico202 this is exactly what I mentioned in 2). it would break the current order of the properties and therefore the ID's but would otherwise be a nice solution.

[2018-08-28 15:16] novoid commented on #52
Hi,
I think we mixed up two things here (or at least I did):

- unit tests and changed IDs whose comparison will fail
- potential data change at the current users' installation that might break existing links

For the first one, the remarks of you both are valid and I tend to follow the least effort here: don't enforce order, ignore IDs in unit test comparison.

The second issue still prevails and

[2018-08-28 15:21] DerBeutlin commented on #52
Yes, I think the first issue can be handled easily no matter which of the two approaches we're using. The second one boils down to break now ID's from python2 and be consistent afterwards no matter what happens or support the old ID's  for all users of python2 and introduce the break only when they change python versions (but then it will break again when they're moving from python3.5 to python3.6

[2018-08-28 16:10] novoid commented on #52
First issue: the one implementing/fixing/migrating may decide. (I go for minimal effort as explained above).

Second issue: document well and inform the users - I can handle that.

[2018-08-29 19:43] novoid commented on #52
I personally do favor Python 3 such that Python 2 backward compatibility is not worth much effort (any more). Python 3 is the way to go since a couple of years.

As far as I know, all this explicit encoding to UTF-8/unicode is obsolete with Python 3.

My personal workflow for all of my Python projects I migrated from 2 to 3:

1. converting Python 2 to 3: http://python3porting.com/
    - `2to3 -w m

[2018-09-01 19:34] DerBeutlin commented on #51
So the idea is to parse the old orgmode file? Because one could also just store all entries in a database/pickled python dictionary(stored in the orgmode folder or the memacs folder) and then append the new entries to that but rewrite the orgmode file every time.
That way one would not have to write/use a parser to get the data and the org file is not vulnerable to change. On the other hand one wo

[2018-09-01 19:58] novoid commented on #51
So far, the append mode of existing modules is using the "parse the existing/old orgmode result files and take a look on the IDs"-approach.
I can't remember the discussion when we decided to go that way. Most probably it was because we wanted to avoid any state-keeping outside of source and target files. With these DBs you have to worry about inconsistencies between: DB and existing orgmode files,

[2018-09-01 20:13] DerBeutlin opened #64 "Add additional tags through command line"
I use e.g. the csv module for multiple different purposes and therefore it would be nice if one could add additional tags through some command line parameter such that I could distinguish the different purposes through the tags.

[2018-09-01 20:17] DerBeutlin commented on #51
Oh I wasn't aware of append modes in other modules! Then I will take a look at it, thanks!!

[2018-09-02 12:33] DerBeutlin commented on #64
I'm sorry I completely overlooked the parameter `-t`

[2018-09-02 12:33] #64 closed

[2018-09-06 01:40] ajft opened #67 "memacs_phonecalls_superbackup python3 failure"
After an update to my local install of memacs, a couple of the modules aren't working.

/home/xyzzy/src/memacs/bin/memacs_phonecalls_superbackup.py -a --add-to-time-stamps +10 -f /home/xyzzy/Dropbox/memacs/calllogs.xml -o ./calllogs.org_archive
Traceback (most recent call last):
  File "/home/xyzzy/src/memacs/bin/memacs_phonecalls_superbackup.py", line 44, in <module>
    memacs.handle_main()
  Fi

[2018-09-06 01:46] ajft opened #68 "memacs_lastfm python3 error"
After upgrading to the python3 version of memacs, my memacs_lastfm updates fail with:

$ /home/xyzzy/src/memacs/bin/memacs_lastfm.py -a -c /home/xyzzy/.config/memacs/memacs-lastfm.ini --output-format "{artist} -- {title}" -o ./lastfm.org_archive
ERROR:root:Traceback (most recent call last):
     File "/home/xyzzy/src/memacs/memacs/lib/memacs.py", line 186, in handle_main
       self.__init()

[2018-09-11 17:50] 11111000000 opened #71 "Add chromium history"
Add chromium history

[2018-09-15 15:27] DerBeutlin opened #72 "Inactive Datetime in OrgFormat does not accept datetime object"
The[ inactive_datetime](https://github.com/novoid/Memacs/blob/522fc937db19a6efa003b2a14b50e4a499da93a8/memacs/lib/orgformat.py#L166) -function in does not accept datetime objects as parameters but only time.struct_times,
The very similar function [datetime](https://github.com/novoid/Memacs/blob/522fc937db19a6efa003b2a14b50e4a499da93a8/memacs/lib/orgformat.py#L156) does accept both.
Is there a reas

[2018-09-22 10:22] novoid opened #73 "SMS: add support for more elements"
As mentioned in #65, when using [signal-back](https://github.com/xeals/signal-back) in order to convert the encrypted backup file of [Signal](https://signal.org/) to an XML file to use with Memacs there are XML elements that are not supported yet. For example, `mms` is one of them.

- [ ] Analysis of (all possible?) XML elements
- [ ] support for (at least the most common) XML elements

[2018-09-22 10:33] novoid opened #74 "Split up Memacs into separate moldule repositories?"
As mentioned in #69, there seems to be an issue with having so many dependencies that are installed when a user is interested in one Memacs module only:

How to deal with this? Split up Memacs into separate repositories/packages (one module = one Python pip package/repository)?

[2018-09-22 10:33] #68 closed

[2018-09-22 10:35] novoid opened #75 "Unit test for phonecalls_superbackup"
Anyone actually using phonecalls_superbackup should volunteer to write at least some basic unit tests so that we won't run into issues like #70 again.

Thanks!

[2018-09-22 10:35] #67 closed

[2018-09-22 10:38] novoid commented on #67
Sorry, this was introduced due to the migration to Python 3 and the lack of a unit test for this module.
Would you like to volunteer to think of helping writing at least a very basic unit test? #75
@DerBeutlin and I am not using superbackup at all ...

[2018-09-22 10:40] novoid commented on #71
Memacs has a module that indexes the Firefox browsing history: https://github.com/novoid/Memacs/blob/master/docs/memacs_firefox_history.org
@11111000000 would like to see a similar module that deals with the Chrome/Chromium browsers and their history data.
Thanks for helping!

[2018-09-22 11:04] #72 closed

[2018-09-22 11:04] novoid commented on #72
Yes: laziness ;-)

[2018-09-22 12:15] novoid commented on #52
FYI: I just ran all unit tests for all modules so that their tests worked. One exception: https://github.com/novoid/Memacs/commit/ebd6861f345b0bf7502996c0b62de9ec9c08cf5a

The script I am using:

[code]

Should this script be checked in? What do you think?

What are the remaining tasks that this issue can be closed? (Are we done?)

Thank you **very much** for all your effort on this issue!

[2018-09-22 17:43] DerBeutlin commented on #52
I use the test runner included in spacemacs which uses [pytest.el](https://github.com/ionrock/pytest-el) which work pretty well.

Nonetheless it would be nice to have an easy way to start all the tests however there are two problems with the script
1) Global path to memacs is different for everybody
2) pytest should be able to find all tests by itself so it should not be necessary to list all the

[2018-09-23 09:11] novoid commented on #52
OMG: I just recognized that I never migrated my lazyblorg to Python3 :-O
... preparing for just another migration right now ... :-(

[2018-09-25 07:59] DerBeutlin commented on #57
I would love such a feature and I looked a bit into this. I did not find any log file or anything similar which included information about the playback. However there are ways to ask Kodi while it is running for its playback status, so one would be able to create a simple daemon which would run on the computer on which Kodi is running and periodically (like every second)  ask for the current statu

[2018-09-28 12:59] novoid commented on #57
I also looked whether or not I could extract played files from any log and did not find any. You rationale is perfectly understandable. My KODI runs on LibreELEC GNU/Linux. Maybe someone volunteers for this so that we can link this separate repository.

[2018-09-29 09:39] DerBeutlin commented on #57
I played a bit with it and got to work a very simple addon which just logs all starts, pauses and ends of any media played with title, artist, filename etc.
Do you want any other information?
Possible would be:
- current position in the movie/audio track
- when ended (duration since started)

I'm open for any other ideas

[2018-09-29 16:45] novoid commented on #57
I, personally, am interested in Org mode entries like:

`** <2018-09-29 Sat 16:46-18:58> 2009 Avatar -- english.avi` for any video (start/end time + file name)

From your comment above, I do assume that your end result consists of multiple separate Org mode headings for one movie, correct?

I did not make up my mind whether or not I am interested in audio logs as well.

[2018-09-29 18:43] DerBeutlin commented on #57
Yes multiple sperate Org mode headings would be the easiest solution.  But I agree with you that a time range in Org would be nice. I would appreciate your advice on two points:
- How to deal with breaks in which the move is paused. Maybe use a minimum duration for breaks.
- Should this complexity ( compute start and end and determine breaks) be inside the Kodi addon? Then one could just use the M

[2018-09-30 09:49] #52 closed

[2018-09-30 09:55] #75 closed

[2018-09-30 10:02] novoid commented on #57
Good question on "put complexity in KODI or CSV part". I don't have a strong opinion on that. With simplephonelogs I had a similar issue but the answer was quite easy to find: either put login into Tasker (hard to code/maintain) or into the Memacs module (much easier to do). With KODI, it's a different story. Probably I'd choose Python/Memacs just because I do feel more comfortable compared to the

[2018-10-01 20:28] DerBeutlin commented on #57
I chose the Simple stupid Addon solution:
[Here](https://github.com/DerBeutlin/KodiPlayEventLogger/releases/tag/v0.1) is a prototype.
You can download the zip file and install it in Kodi. In the settings you have to provide a folder in which to save the logs. Video and Audio logs are separated.
Currently it saves
- Timestamp
- event (play|pause|resume|stop)
- time point in track
- total time of tr

[2018-10-03 09:52] balaramadurai commented on #71
@novoid, Thank you for developing Memacs. It is really cool!

I added the chrome-history module to this through the PR - https://github.com/novoid/Memacs/pull/79

Please let me know if this works!

Thanks and have a great day!
Bala

[2018-10-08 12:43] novoid opened #80 "setup.py for publishing Memacs properly using pip3"
Hi,

I've published multiple (simple) tools using Python3 pip. With Memacs, I do feel that my current knowledge and experience with pip is not enough.
Can you come up with a `setup.py` so that I may publish Memacs properly using pip?

The main things that are worrying me:

- How to provide direct access to module (commands)?
- How to properly handle requirements/dependencies? Is the current `requi

[2018-10-10 08:35] novoid commented on #71
I installed Chrome and tried it myself and I now get:

[code]

However, my unit tests and other modules are working fine. Does this error only occur at my side?

@balaramadurai What does your command look like?

[2018-10-11 12:03] balaramadurai commented on #71
I have created another PR - https://github.com/novoid/Memacs/pull/81

Let's see if this one works. I realized that the python libraries I used were from pip install and hence has python2.7. So, I copied them from the github clone to the python3.6 python libraries. Now, it seems to have been updated.

Thanks and have a great day!
Bala

[2018-11-04 11:56] Spass1966 opened #83 "Provide a NixOS package for Memacs"
Nix (of NixOS) allows you to write packages as self-contained, declarative services. Setting PATH  variables, cloning the repo, then setting cronjobs for each desired module is many steps in the way of a process that could be as simple as a `nix-env -i memacs`.

[2018-11-04 12:08] taohansen opened #84 "Users should be guided to install Memacs as `--user`"
A `pip install requirements.txt` runs into permission issues as a non-root user. Since `sudo pip` should never be invoked, `pip install requirements.txt` should read `pip install requirements.txt --user`.

[2018-11-05 17:38] novoid commented on #84
Do you mean `sudo pip install requirements.txt --user` (as root)?

[2018-11-05 17:40] novoid commented on #83
Hi @taohansen,

I am not familiar with NixOS.
Excuse me for asking: What is the issue you are reporting?

[2018-11-05 23:21] taohansen commented on #83
Feature request, feel free to close!

On November 5, 2018 6:40:11 PM GMT+01:00, Karl Voit <notifications@github.com> wrote:

[2018-11-06 06:37] novoid commented on #83
Thanks for clarifying, @taohansen.
I can't provide this thing myself but I keep it here for reference in case somebody else might volunteer.

[2018-11-08 13:58] taohansen commented on #84
No this should ever be run. See https://stackoverflow.com/questions/21055859/what-are-the-risks-of-running-sudo-pip

[2018-11-08 18:05] novoid commented on #84
Thanks @taohansen,
It seems to be the case that I need some ramp-up on this issue because I obviously do not understand pip yet.

I thought that `pip install` (as a user) installs packages in the user context and not on the OS level because the user doesn't have write permissions on OS level.

Now there is [this "user scheme" method](https://docs.python.org/3/install/index.html#alternate-installat

[2018-11-09 17:59] taohansen commented on #84
I must admit I am not a Python programmer and only ever make use of `pip` as a user. But to answer your first question, I believe that only with `pip install [pkg] --user" does a package install scope itself to only the user directory.

[2018-11-28 07:00] fullofcaffeine opened #85 "Confusion about stub and archive files"
First of all, thanks for Memacs! I've been using it for Twitter favorites (adapting the original Twitter module, inheriting from the same `Memacs` base class) and it has been working great so far. I might share the module after I figure out the following:

The generated file (the `-o` option when calling the module from the CLI), has the following in header text:

[code]

I'm confused though. Firs

[2018-11-30 14:18] novoid commented on #85
Hi coffee junkie ;-)

I see the source for your confusion.

In the FAQs https://github.com/novoid/Memacs/blob/master/docs/FAQs_and_Best_Practices.org#file-names-of-generated-memacs-files-archive I am trying to explain the reason why you most likely don't want to generate `Twitter.org` but `Twitter.org_archive` instead.

Archiving is a standard feature of Org mode: https://orgmode.org/manual/Moving

[2018-11-30 14:19] #85 closed

[2019-01-12 11:22] nico202 opened #86 "missing bracket in documentation"
https://github.com/novoid/Memacs/blame/master/docs/memacs_photos.org#L30

[2019-01-13 18:42] novoid commented on #58
Hi,

I just merged the different `orgformat.py` versions and tried to reconstruct your issue.

Fortunately or unfortunately, I could not find any issue related to this year you were using (see commit above).

Could it be the case that the issue is not any more on your side as well? Please do report back. Otherwise, I'll close this issue in a couple of months.

Thanks for helping!

[2019-01-18 20:21] #86 closed

[2019-01-18 20:22] novoid commented on #86
Thanks for reporting!

[2019-01-24 15:26] bdillahu commented on #58
Thanks for taking a look... had a chance to re-test and, like you, I can't recreate the issue with current release/github code. So I guess something fixed it along the way :-)

I would say close it and I'll report again if I manage to recreate it in the future.

[2019-01-24 15:29] #58 closed, assigned to novoid

[2019-04-01 12:34] DynamicMetaFlow opened #87 "memacs-chrome --output-format?"
Greetings,

Thank you for developing memacs and everyone who has contributed to the project. I've been trying to setup memacs for my knowledge system and running into a stumbling block.

When I run the command
``
python bin/memacs_chrome.py -f "/home/user/.config/google-chrome/Default/History" --output-format '{title}' >~/org/memacs/chromehist.org_archive
``
An entry in chromehist.org_archive file

[2019-04-04 08:06] novoid commented on #87
Hi @DynamicMetaFlow,
The modification has to be done in `memacs/chrome.py` in the function `handle_url()`.
You have to look at the content of `params[]` and change `output` accordingly.
Since I'm not using Chrome or this Memacs module: are you feeling comfortable doing the changes yourself and providing a pull request?

[2019-04-14 00:33] DynamicMetaFlow commented on #87
Hi! Thank you for your response. Thanks to your comment I was able to get it up and running. I will clean things up and do a pull request. Thank you once again!

[2019-04-19 16:57] DynamicMetaFlow opened #88 "Browser extension: WorldBrain's Memex"
Greetings!

After coming across this extension I thought about sharing what I've learned here for others if this seems unrelated, or pitching a software project please feel free to close this issue.

Yesterday I came across a browser extension from [WorldBrain](https://worldbrain.io/) called [Memex](https://github.com/WorldBrain/Memex), it's inspired by Vannevar Bush's vision of a Memex.

After do

[2019-04-20 10:28] novoid commented on #88
Hi Alex,
This really looks like a neat piece of software.
Since this is no "issue", I'll close it here and add a "Related Projects" section to the readme file.

My personal thoughts without testing it: although the featureset sounds awesome, I dislike the additional fragmentation. Looking for content should be doable in one spot. With the mentioned software, I'd have to search in my desktop search

[2019-04-20 10:28] #88 closed

[2019-06-01 08:05] Joseph-Riad opened #89 "Can't get any module to work"
I really love the idea behind this and I wish I could get it to work.

Here's what I have done so far (on ArchLinux and Mac OS, I get the same results):

`$ pip3 install memacs  # (as recommended in INSTALL.org)`

Interestingly, this creates module files in `~/.local/lib/python-3.7/site-packages/memacs/ ` whose headers say `#!/usr/bin/env python2`!!

If I clone the repo into my home directory and

[2019-08-22 18:55] aggi3000 commented on #89
Same problem here, also ArchLinux. But got it to work by converting all relative paths of  imports to absolute ones (in memacs/ and memacs/lib) and set PYTHONPATH to the root directory. Maybe that helps someone else, too...

[2019-08-23 15:52] novoid commented on #89
Thanks for this workaround.

However, somebody with better Python-knowledge should assist here in order to get a scalable solution.

[2019-09-02 17:32] aggi3000 commented on #89
I absolutely agree. Just wanted to provide a quick fix for the impatient and unknowing, like me. ;)

Besides that I could only search for answers and came up with [PEP 366](https://www.python.org/dev/peps/pep-0366/) (which I don't understand). But I did understand that according to [PEP 8](https://www.python.org/dev/peps/pep-0008/#imports) absolute imports are preferred over relatives.

I guess th

[2019-10-01 19:56] DerBeutlin commented on #89
I think the issue when installing with pip3 is that the latest release on PyPI is from July 2018, so before the change to python3. It is therefore necessary to release it again.

For the second case everything seem to work fine for all the scripts except the chrome one since there the imports (and a lot of other stuff like the undefined ``reload`` function) seems wrong.

Otherwise @aggi3000 is cor

[2019-10-02 10:34] novoid commented on #89
I tried, but I seem to be in Python hell: twine has some issues due to being too old on my Debian system. So I upgraded it. Now I somehow have the new version as root and the old version as user:

[code]

I'll have to figure out and re-publish as soon as I find the solution.

I already merged the patch, thanks @DerBeutlin! I'll read about the absolute/relative path issue.

[2019-10-02 16:36] novoid commented on #89
Sorry - I obviously had to learn about virtualenv to overcome version hell with "twine". A new Memacs package is out now: https://pypi.org/project/memacs/2019.10.2.1/

@Joseph-Riad would you be so kind and re-test if the issue is resolved with the latest changes? Thanks for your time!

[2019-10-03 12:03] novoid commented on #43
@schvabodka-man I assume this issue is solved. If you do not report back for confirmation, I'll close this issue soon.

[2019-10-03 12:06] novoid opened #92 "--add-to-time-stamps doesn't work at least with filenametimestamp module"
See disabled unit tests starting with `test_add_to_time_stamps_good_case()` in https://github.com/novoid/Memacs/blob/master/memacs/tests/filenametimestamps_test.py

When enabled and run, it ends up in:

[code]

Maybe somebody wants to investigate.

[2019-10-09 13:44] novoid commented on #80
An up to date version should be available via https://github.com/novoid/Memacs/blob/master/setup.py

[2019-10-09 13:49] novoid commented on #89
I assume that https://github.com/novoid/Memacs/pull/91 fixed this issue. If not, please re-open and provide some background so that we can fix it once and for all. Thanks!

[2019-10-09 13:49] #89 closed

[2019-10-09 13:50] novoid commented on #43
I assume that this issue was fixed above. If not, please re-open issue and provide further information. Thanks!

[2019-10-09 13:50] #43 closed

[2019-10-20 12:52] novoid commented on #83
It doesn't seem that anybody is willing to help here. Please re-open if you want to send a pull request for providing NixOS package support.

[2019-10-20 12:52] #83 closed

[2019-11-06 02:17] ajft opened #93 "AttributeError: type object 'OrgFormat' has no attribute 'datetime' - after ubuntu update"
Following a two-stage upgrade of my linux box from 18.04 to 19.04 to 19.10, now whenever I run any of the memacs scripts (which have all been in place & running for years) they all fail with the above error about OrgFormat.

memacs is uptodate from github, in ~/src/memacs.  With PYTHONPATH=/home/ajft/src/memacs,, as it has been for months or years, I get the following errors:
$ ~/src/memacs/bin/me

[2019-11-06 21:15] novoid commented on #93
Oh boy, you had the unfortunate bad luck to update and run Memacs within the couple of hours I was busy migrating the orgformat.py to a separate repository: https://github.com/novoid/orgformat

During refactoring the library, the function `OrgFormat.datetime([...])` got replaced by `OrgFormat.date([...], show_time=True)`.

I guess with the latest versions of Memacs and orgformat, you should be fin

[2019-11-06 21:15] #93 closed

[2019-11-06 23:01] ajft commented on #93
yes, all working now. Many thanks (hope this doesn't reopen this issue)

[2019-11-07 11:12] novoid commented on #93
Sorry again for that fuzz.
I was thinking about it but could not find a solution while I had to test the distributed orgformat in parallel to adapt Memacs/lazyblorg for it.

[2020-02-05 13:19] novoid commented on #57
Verzeihung!
Somehow, I was losing touch with this issue for way too long. Will soon spend some time trying out this code and give feedback.

[2020-02-06 11:32] novoid commented on #57
https://github.com/DerBeutlin/KodiPlayEventLogger/releases successfully tested on my old LibreELEC 8.2.2 with Kodi 17.6. I will most probably re-flash to the newest LibreELEC 9.2 with Kodi 18.5 in the next weeks.

And I need to test the Memacs module as well, of course. So I need to gather some playback log data first. ;-)

[2020-02-06 17:33] DerBeutlin commented on #57
I have actually totally forgotten about this but might try it out again in the next weeks, thanks for testing it!

[2020-02-08 10:57] novoid opened #94 "kodi: probable issue with content of row (OrderedDict)"
Hi @DerBeutlin,

I took a quick look at the very promising kodi logger module and I got an issue on my side. I'm not sure if I'm handling it wrong or if there is an issue with the code.

# What I've got

Current kodi Memacs module and the first release of the kodi logger.

`video.log` contains:
[code]

# What I start

I start the Memacs module manually:
[code]

# Error

I then get:
[code]

I'd exp

[2020-04-07 06:45] sanzoghenzo commented on #80
Hi @novoid, great project!
I still have to install it, but I'm planning to do it ASAP.
My thoughts from what I've learned in ~5 years of python:

- requirements.txt are good for developers, especially if version are pinned, to reproduce the exact dev environment (or for docker based CI to exploit caching). For a good user experience `pip install memacs` (if you plan to publish it on pipy) or cloni

[2020-04-07 06:55] sanzoghenzo commented on #74
Hi,
as stated in https://github.com/novoid/Memacs/issues/80#issuecomment-610206958, you can use `extra_requires` to specify the dependencies, for example:

[code]

so a user can `pip install memacs[lastfm]` if you only need lastfm functionality.

Another option is to split it in separate packages, but having them under the same namespace by using [namespace packages](https://packaging.python.org/g

[2020-04-11 20:55] DerBeutlin commented on #94
I will take a look into this but first of all kodi module is broken at least in my tests... It complains about the imports (https://github.com/novoid/Memacs/blob/master/memacs/kodi.py#L10) which are different from the other modules. I guess problem was the restructuring between creating and merging this module

[2020-04-11 21:46] ipa-mtb commented on #94
Ok I know what is the error, you're missing the argument ``--fieldnames`` which tells the module whats in your csv file and ``--action_field`` corresponds to the field which corresponds to the action so e.g.

[code]
Then the program runs through, right now it does not print out the entry but that's another issue I will investigate

I guess kodi should error out if mandatory arguments are not passe

[2020-04-11 21:48] DerBeutlin commented on #94
Ok I know what is the error, you're missing the argument ``--fieldnames`` which tells the module whats in your csv file and ``--action_field`` corresponds to the field which corresponds to the action so e.g.
[code]
Then the program runs through, right now it does not print out the entry but that's another issue I will investigate

I guess kodi should error out if mandatory arguments are not passed

[2020-05-14 11:47] ajft opened #97 "filenametimestamps exclusion not working if excluded directory contains "bad files""
Having moved some old files into a directory scanned by memacs (including a "2002-02-29-journal.org" where there was no 2002-Feb-29), I've found that the "-x" switch of memacs_filenamestamps doesn't seem to exclude the directory from being parsed, only from being reported.

 ${MEMACS}/bin/memacs_filenametimestamps.py -a --skip-files-with-no-or-wrong-timestamp --skip-file-time-extraction -o ./test.

[2020-05-31 15:42] novoid commented on #80
Thanks @sanzoghenzo for your comments!

Unfortunately, my personal pressure is not as high as it should be to distribute memacs via `pip` since I'm using the sources directly. On the other hand, I'm not sure if the current status _should_ be published via `pip` because it would require many dependencies considering the wide range of modules. #96 fixed on of the issues by introducing appropriate li

[2020-05-31 15:46] novoid commented on #74
Thanks @sanzoghenzo, this is really good input here!
Are you feeling confident to contribute a modified `setup.py`? If you could do me this favor, I'd be very glad since you seem to have some experiments with this option while I don't...

[2020-05-31 16:00] novoid commented on #94
Awesome,

I can confirm that the following is producing the desired output to stdout:

[code]

Most entries are perfect, except that pausing the playback for a few seconds causes an additional entry that messes up my agenda. But I understand the implications. I'll think about this and maybe a minimum pause setting could "smoothen" this a bit.

However, I did recognize that a few entries are plain

[2020-05-31 16:01] #94 closed

[2020-05-31 16:29] novoid commented on #57
I'll consider this issue as solved although I personally am "blocked" by the issue https://github.com/DerBeutlin/KodiPlayEventLogger/issues/1 which is tracked at the Kodi add-on (as it should be).

I'm very thankful for the module so far and the logging method on Kodi!

[2020-05-31 16:29] #57 closed

[2020-05-31 17:18] #97 closed

[2020-05-31 17:20] novoid commented on #97
Thanks @ajft,
The issue should be fixed with the latest version.

I can not confirm that "the `-x` switch of memacs_filenamestamps doesn't seem to exclude the directory from being parsed, only from being reported". If you can reproduce it please open up another issue for that.

[2020-06-02 10:20] sanzoghenzo commented on #74
Hi @novoid ,
honestly I moved to other stuff an I didn't have the time to look at this project...

If I have some spare time I'll look into that. Since I didn't write any of the code, it could take me quite some time and I can incur in errors; also, I don't know what granularity you wish to achieve (does every single module need to be installed separately?)

That said, I'll try to do it.

[2020-06-02 10:45] sanzoghenzo commented on #74
Also note that, for the scripts to be installed as dependencies, and to ensure cross platform compatibility, I need to change #96 and move the script definition to the "console_script" of "entry_points" argument as I explained in https://github.com/novoid/Memacs/issues/80#issuecomment-610206958.

[2020-06-07 16:26] novoid commented on #74
With the latest contribution of @sanzoghenzo, at least specific module dependencies could be installed optionally. This definitively solves some issues we had.

However, the main question still applies for other reasons as well:

**Wouldn't it be better to split the main framework and the modules to separate Git(Hub) repositories?**

-----------------

This would have several **advantages**:

- Th

[2020-11-24 20:41] Gahamelas opened #102 "Hypothesis"
Hi, I checked that Orger has a module for hypothesis. Do you think you will be adding one?
And another question is how is Orger different in goal than memacs?
Both convert to ORG different types of data. So what is the core difference?
Thanks!

[2020-11-25 12:54] novoid commented on #102
Hi,
Please do read [the README of Orger](https://github.com/karlicoss/orger) to learn about differences between Memacs and Orger.
We both developed the projects to solve personal requirements by including non-Org data into Org mode somehow. Memacs is much older and Orger follows a different perspective. Orger was developed without being aware of the existance of Memacs.
I don't know what hypothesi

[2020-11-25 12:54] #102 closed

[2020-12-01 10:12] japhir opened #103 "memacs_firefox output issues"
in https://github.com/novoid/Memacs/issues/87 this issue is mentioned for chrome, and in https://github.com/novoid/Memacs/pull/98 @alex-a-soto fixed the chrome output by including a title url in the note's name.

It would be great if the firefox-backend also did this.

Furthermore it appears that the firefox script is adding a single space before all the lines after the `## -- coding: utf-8 mode:

[2020-12-01 10:17] japhir commented on #103
it does look like the line https://github.com/novoid/Memacs/blob/d047c5f87ca106e35248f50cca65ee23dc231e86/memacs/firefox.py#L58 is identical though…

[2020-12-02 19:49] novoid commented on #103
There are multiple people who contributed to the Firefox module (and who probably are using it in contrast to me):
https://github.com/novoid/Memacs/commits/master/memacs/firefox.py

Does somebody volunteer for this issue?
@kidd @nguyenhaiac

[2020-12-08 14:31] kidd commented on #103
Unfortunately I'm not using memacs anymore and I'm not sure when I'll have the time to test this up :(

[2020-12-08 14:54] japhir commented on #103
I also decided that waiting for several seconds for my agenda to pop up is too annoying as yet, so this feature doesn't have priority for me.

[2020-12-08 17:54] novoid commented on #103
Well, Memacs does not affect your normal agenda performance at all when you generate Memacs data to archive files as described on https://github.com/novoid/Memacs/blob/master/docs/FAQs_and_Best_Practices.org#performance-and-scalability

[2020-12-09 09:24] japhir commented on #103
Yes, I know, but for what I would actually use it: to look at what I was doing on a particular day/time, it does slow down the archive view massively. I hadn't realized before looking into this endeavour that your loading times were ~20s ;-)

[2020-12-09 09:34] japhir commented on #103
I guess I had the naive view that "they're just a bunch of text files, there's no reason for this to be slow" without realising that the org files are quite complex to parse. I only got a real appreciation for this during the last Emacsconf :).

[2021-01-26 18:33] aggi3000 opened #105 "Updating to Python 3.9 results in 'HTMLParser' object has no attribute 'unescape' error"
After updating to Python 3.9 on Arch I get the attribute error `'HTMLParser' object has no attribute 'unescape'` when evoking a memacs module:

     File "/home/user/.local/lib/python3.9/site-packages/memacs/lib/memacs.py", line 188, in handle_main
       self._main()
     File "/home/user/.local/lib/python3.9/site-packages/memacs/sms.py", line 270, in _main
       xml.sax.parseString(data.encode(

[2021-01-27 11:32] novoid commented on #105
Yes, it got deprecated: https://docs.python.org/3/whatsnew/3.9.html#porting-to-python-3-9 -> scrolling up a bit shows:

@aggi3000: since I'm not running Python 3.9 on my hosts to confirm it in your environment: are you feeling confident on trying to move to `html.unescape()` and sending a patch?

[2021-01-27 15:30] aggi3000 commented on #105
I'm confident enough to try editing the source on my machine but not confident enough to send a git patch... :(

What I did: In sms.py I replaced

with

Everything seems to be working fine with Python 3.9 but I didn't manage to get a 3.8 environment running simultaneously so I don't know if that change would break anything. Shame on me that I don't know git enough to make a patch out of this. I'm

[2021-01-28 13:47] novoid commented on #105
That's totally fine with me. Thank you very much for confirming the working change.

I'll test the patch on my side and hand in the patch myself. Glad that it's working for you again.

[2021-01-28 18:22] novoid commented on #105
Fixed in https://github.com/novoid/Memacs/commit/1dc821268f94818bd10e0ec4cad80ef74ddecf3a

[2021-01-28 18:22] #105 closed

[2021-09-08 21:07] camdez opened #107 "memacs/ical fails to parse valid iCalendar files & generally mishandles timezones"
I spent quite a while in the timezone trenches sorting out why Memacs didn't appear to generate correct timestamps when I imported iCalendar files.

Per the [iCalendar specification (RFC5545)][rfc5545], `DTSTART` and `DTEND` (the primary fields used to specify when events begin and end)...

    The [TZID] parameter MUST be specified on properties with a DATE-TIME
    value if the DATE-TIME is not

[2021-09-21 14:00] #107 closed

[2022-05-13 02:43] ajft opened #110 "memacs_filenametimestamps exclude multiple directories not working"
When I specify "-x dirname" twice (or more) on a command line, only the last directory seems to be excluded.

Using the current memacs, installed via pip3

[code]

[2022-05-15 14:22] #110 closed

[2022-05-15 14:23] novoid commented on #110
Thanks @ajft for reporting this issue!

Actually, there were two separate but similar issues I fixed. Sorry for not testing good enough - I'm only using one index folder and no exclude directories and therefore I did not realize the bug in my own setup.

[2022-07-02 03:59] ArchGalileu opened #111 "Can't parse timestamp"
I'm very amazed with your website... content... ideias...

but when i finally tried memacs gives me error:

`time data '2022:07:01 24:33:02' does not match format '%Y:%m:%d %H:%M:%S'`

Any advice

Best regards
ArchGalileu

[2022-07-04 18:14] nbehrnd opened #112 "suggest: screencast examples"
The landing page of the [orger](https://github.com/karlicoss/orger) project mentions a [screencast](https://www.youtube.com/watch?v=ib_PDJpTh-Q) as an appetizer.  Memacs points to orger, and orger points to memacs as in programs with (partial) overlap of the aim set. Are there similar presentations about memacs you may recommend, or a recording of a talk of similar clarity like the one at [GLT18](

[2022-07-07 09:52] novoid commented on #111
Hi,

The first thing I can see is that you're trying to parse "24 hours and 33 minutes" which does not exist. It's either "23 hours and 33 minutes" or "00 hours and 33 minutes" accordingly.

For more, I would need further context on this message. Which of the modules in what version did you use on which data?

But in this case, I'd say the data does not represent a valid timestamp format as the er

[2022-07-07 09:52] #111 closed

[2022-07-07 09:56] novoid commented on #112
Screencast: what would you expect to see?

Setup of one of the many modules? (That's usually just a line in your crontab.)

Using the data collected in the resulting Orgdown files? (That's basic Org-mode functionality such as generating and using the agenda.)

Changed commands: the thing that happened in between was mostly more modules from peers were joining the repository. Most of them are not u

[2022-07-11 10:06] nbehrnd commented on #112
An indication to the chat, perhaps amended by an illustration of an example where Memacs extends the agenda view as provided by default would be an appetizer.  The underlying .pdf I recored a screenphoto would suit well:

![2022-07-11T11 55 33 -- screenshots pim linked](https://user-images.githubusercontent.com/19709084/178240005-7ea95f8f-6dc9-45d2-9707-da77005c13dd.png)

A repeated attempt to use

[2022-07-11 10:06] #112 closed

[2022-07-11 10:49] nbehrnd opened #113 "memacs_csv: help parameter is not working"
Contrasting to the general `README.org`, module `memacs_csv.py` doesn't reply to `--help` (because it is not anticipated by the module), nor to `-h` when using a pristine virtual environment `venv` of Python 3.10 in Linux Debian 12/bookworm (branch testing).

The hypothesis the module's action were limited because it runs from a virtual environment was not supported because `memacs_photos.py` is w

[2022-07-11 12:40] novoid commented on #112
Oh, the screenshot(s) from the linked whitepaper? OK, I can do that, if you do find this helpful.

[2022-07-11 12:58] novoid commented on #112
Done, you'll find the screenshot from the paper in the README. Thanks for the suggestion!

[2022-07-11 13:11] novoid commented on #113
Hi,

Unfortunately, yet another module I'm not using myself at the moment.

From looking at the `memacs/tests/data/example1.csv` file and the parser options of `csv.py`, the default format is "DD.MM.YYYY" (German default). Not a good default choice, IMO. However, you can modify the expected format using a CLI parameter such as `--timestamp-format "%Y.%m.%d"`.

Maybe this is the missing piece to ma

[2022-07-13 10:51] nbehrnd commented on #112
Karl Voit wrote:

«Un bon croquis vaut mieux qu'un long discours.»  Or, "A picture is
worth a thousand words."

[2022-07-13 11:21] nbehrnd commented on #113
After normal installation with pip in Linux Debian 12/bookwork (branch testing) (which is going to be a separate issue report), the module is accessible, though possibly not fully.  In my case, the installation of the modules uses `~/.local/bin` (which is added to the PATH variable).

+ My observations are conflicting with each other.  For one, the direct call yields the reminder I anticipate for

[2022-07-13 11:40] nbehrnd opened #114 "implement sub-packages to install only selected module dependencies"
The issue either suggests to reformulate the project's main `README.org`, or to revise how individual modules of Memacs are installed.

The aim was to install Memacs with the photos module in an instance of Linux Debian 12/bookworm, branch testing.  Before this, there was no permanent installation of Memacs at all (a virtual environment for Python earlier used for testing already was removed).  At

[2022-07-13 11:52] nbehrnd opened #115 "suggest revision installation via pip, provision of test/reference data"
The scope of files considered when installing Memacs with pip apparently is smaller than when running an installation with fork/clone from GitHub.

Cloning the project from GitHub offers path `/Memacs/memacs/tests/data/` including multiple files (like `example1.csv`) to get familiar how files to process should be formatted, or to check Memacs' working.  These reference files however seem absent wh

[2022-07-14 14:11] novoid commented on #113
I've found the issue with the help parameter (missing escaping of the % character) and pushed the change to GitHub.

[2022-07-14 14:11] #113 closed

[2022-07-14 14:19] novoid commented on #115
On the one hand side, I'd say that people installing memacs via pip don't want to have test data shipped. (My personal not so strong opinion.) If you do want to have all the files, clone it via git and GitHub.

On the other hand, I'm not that familiar with packaging to pip. Therefore, I truly don't know why some files are shipped and some aren't. Currently, my VirtualBox setup is broken (severe Li

[2022-07-15 14:12] nbehrnd commented on #114
@novoid By «git archeology» / reading the git log by June 2, 2020, I speculate Andrea Ghensi might help here.  Because the symbolization / profile picture does not appear among the self declared «watchers» of this very project, I send one ping («one ping only ... ») to inform about the obstacle ahead.

[2022-07-15 14:14] nbehrnd commented on #114
@sanzoghenzo The selection of _one_ Memacs module (e.g., about photos) currently yields the installation _of all_ Memacs modules.  Because the functionality was implemented by you, may you look on this again; perhaps it is just a detail you spot immediately to improve Memacs once again.  Thank you!

[2022-07-15 14:59] sanzoghenzo commented on #114
Hi @nbehrnd ,
It's been a long time since I last used memacs, but this is what I got by a quick look:

- my changes were not to install specific modules, but to install the dependencies of said modules. To be able to do what you ask, the project need to be split into multiple sub packages;
- the right syntax for pip is `pip install memacs[xxx]` where xxx is the functionality that you whish to have

[2022-07-15 15:16] nbehrnd commented on #115
I agree the mileage may vary.  Speaking for the example of the module about .csv data, reading `/Memacs/memacs/tests/csv_test.py` did not help me as much as `/Memacs/memacs/tests/data/example1.csv`.  Not so much because semi-colons are used as delimiter in the _c_ sv file; the documentation explicitly mentions this default, but because of the organization/sequence of entries.

+ string `"** <2012-

[2022-07-15 15:16] #115 closed

[2022-07-15 15:26] nbehrnd opened #117 "a few links in `README.org` are dysfunctional"
The project's main documentation `README.org` includes a few links which do not work/do not work anymore.  The ones identified all belong to the incubator zone about code which eventually _might_ yield a module ready for production.

In the screen photo below, the links are highlighted by blue rectangles:

![2022-07-15_Memacs_addresses_moved](https://user-images.githubusercontent.com/19709084/1792

[2022-07-17 14:56] novoid commented on #74
See https://github.com/novoid/Memacs/issues/114#issuecomment-1185630037 for an idea on splitting up within the same repo in order to install a module like `pip install memacs[photos]`

[2022-07-17 14:57] novoid commented on #114
I'll close this issue here as it seems to be a duplicate of #74

Feel free to continue discussing there.

[2022-07-17 15:09] #117 closed

[2022-07-17 15:12] novoid commented on #117
Thanks for the notification! I've once moved away all modules that were not using the generic Memacs framework (yet) to the tmp subdirectory without fixing their links in the readme file. Sorry for that.

[2022-07-17 15:35] sanzoghenzo commented on #74
Hi @novoid ,
the things I stated in that comment are exactly the same as we discussed here, there's no new information there (I didn't remember any of this :sweat_smile:) - without splitting the project into multiple sub-packages, memacs will be installed in full and only the _dependencies_ can be selectively installed.

The way to go is still to split the code:

[code]

with `setup.py` containing

[2022-07-20 08:46] novoid commented on #114
After realizing the suggested change (see above and https://github.com/novoid/Memacs/issues/74#issuecomment-1186548950) I reopen this issue because it actually introduces an in-between step between the current situation (Memacs as one single big blob) and Memacs split up into separate repositories.

By being able to install the dependencies of selected modules, users are able to keep their setup f

[2022-07-20 21:02] nbehrnd opened #118 "suggest: extension of general README.org (though pending revision)"
I would like to suggest an extension of the workflows described in the general `README.org`, namely, by an additional (explicit) example how to set up a call of one of the scripts from an running instance of Emacs orgmode.

Like you, I use an `emacs-config.org` which is translated into `emacs-config.el`.  In my case, this is based on a [tutorial-like](https://www.suenkler.info/emacs/emacs-config-s

[2022-07-23 15:55] novoid commented on #118
Hi Bernd,

What is it, what you want to have accomplished here? An example setup process for one Memacs module?

How should Org-mode babel blocks help with that?

I mean, after all, each module invocation is one single line of Python with its command line parameters that vary from use-case to use-case...

[2022-07-31 15:35] #118 closed

[2022-10-26 01:48] PyDR-Tool opened #122 "Project dependencies may have API risk issues"
Hi, In **Memacs**, inappropriate dependency versioning constraints can cause risks.

Below are the dependencies and version constraints that the project is using

[code]

The version constraint **==** will introduce the risk of dependency conflicts because the scope of dependencies is too strict.
The version constraint **No Upper Bound** and **\*** will introduce the risk of the missing API Error

[2022-10-27 12:43] novoid commented on #122
Hi @PyDeps ,

I'm sorry, I can't follow your request.

However, there is no such constraint in the list you've cited.

True. However, not having an upper bound introduces the risk of not having the latest security bugfixes. I personally prefer bug and security fixes over API risk. Why do you prefer potentially open security issues and introducing upper bounds?

For the same reason, I don't underst